# External Lab 

Here each question is of 1 mark.

# Multiple Linear Regression

## Problem Statement

Use Multiple Linear Regression to **predict the consumption of petrol** given relevant variables are the petrol tax, the per capita, income, the number of miles of paved highway, and the proportion of the population with driver's licenses.

## Dataset

There are 48 rows of data.  The data include:

      I,  the index;
      A1, the petrol tax;
      A2, the per capita income;
      A3, the number of miles of paved highway;
      A4, the proportion of drivers;
      B,  the consumption of petrol.

### Reference 

    Helmut Spaeth,
    Mathematical Algorithms for Linear Regression,
    Academic Press, 1991,
    ISBN 0-12-656460-4.

    S Weisberg,
    Applied Linear Regression,
    New York, 1980, pages 32-33.

## Question 1 - Exploratory Data Analysis

*Read the dataset given in file named **'petrol.csv'**. Check the statistical details of the dataset.*

**Hint:** You can use **df.describe()**

In [11]:
import pandas as pd
Pdata=pd.read_csv('petrol.csv')
Pdata.columns=Pdata.columns.to_series().str.strip()

In [12]:
Pdata.describe()

             tax       income       highway         dl  consumption
count  48.000000    48.000000     48.000000  48.000000    48.000000
mean    7.668333  4241.833333   5565.416667   0.570333   576.770833
std     0.950770   573.623768   3491.507166   0.055470   111.885816
min     5.000000  3063.000000    431.000000   0.451000   344.000000
25%     7.000000  3739.000000   3110.250000   0.529750   509.500000
50%     7.500000  4298.000000   4735.500000   0.564500   568.500000
75%     8.125000  4578.750000   7156.000000   0.595250   632.750000
max    10.000000  5342.000000  17782.000000   0.724000   968.000000

# Question 2 - Cap outliers 

Find the outliers and cap them. (Use (Q1 - 1.5 * IQR) as the minimum cap and (Q3 + 1.5 * IQR) as the max cap. The decision criteria is you should consider the datapoints which only falls within this range. The data points which fall outside this range are outliers and the entire row needs to be removed

In [13]:
Q1=Pdata.quantile(0.25)
Q3=Pdata.quantile(0.75)
IQR=Q3-Q1
IQR,Q1,Q3

(tax               1.1250
 income          839.7500
 highway        4045.7500
 dl                0.0655
 consumption     123.2500
 dtype: float64, tax               7.00000
 income         3739.00000
 highway        3110.25000
 dl                0.52975
 consumption     509.50000
 Name: 0.25, dtype: float64, tax               8.12500
 income         4578.75000
 highway        7156.00000
 dl                0.59525
 consumption     632.75000
 Name: 0.75, dtype: float64)

In [14]:
Min_cap=Q1-1.5*IQR
Max_cap=Q3+1.5*IQR
Max_cap,Min_cap

Max_cap,Min_cap

(tax                9.8125
 income          5838.3750
 highway        13224.6250
 dl                 0.6935
 consumption      817.6250
 dtype: float64, tax               5.3125
 income         2479.3750
 highway       -2958.3750
 dl                0.4315
 consumption     324.6250
 dtype: float64)

In [15]:
Pdata=Pdata[Pdata>Min_cap]
Pdata=Pdata[Pdata<Max_cap]
Pdata=Pdata.dropna(axis=0)

# Question 3 - Independent variables and collinearity 
Which attributes seems to have stronger association with the dependent variable consumption?

In [16]:
Pdata.corr(method='pearson')

                  tax    income   highway        dl  consumption
tax          1.000000 -0.109537 -0.390602 -0.314702    -0.446116
income      -0.109537  1.000000  0.051169  0.150689    -0.347326
highway     -0.390602  0.051169  1.000000 -0.016193     0.034309
dl          -0.314702  0.150689 -0.016193  1.000000     0.611788
consumption -0.446116 -0.347326  0.034309  0.611788     1.000000

### Observing the above correlation values between all the variables, we can see that there is stronger association between the number of drivers and consumption. And comparatively tax has an association in a negative way. 
Insights :
As tax increases the consumption decreases.
As number of drivers is more consumption is more

# Question 4 - Transform the dataset 
Divide the data into feature(X) and target(Y) sets.

In [42]:
Feature=Pdata[['tax','income','highway','dl']]

In [43]:
Target=Pdata['consumption']

# Question 5 - Split data into train, test sets 
Divide the data into training and test sets with 80-20 split using scikit-learn. Print the shapes of training and test feature sets.

In [44]:
from sklearn.model_selection import  train_test_split

X_train, X_test, y_train, y_test = train_test_split(Feature,Target, test_size=0.20, random_state=1)

In [45]:
X_train.shape

(34, 4)

In [46]:
X_test.shape

(9, 4)

In [47]:
y_train.shape

(34,)

In [48]:
y_test.shape

(9,)

# Question 6 - Build Model 
Estimate the coefficients for each input feature. Construct and display a dataframe with coefficients and X.columns as columns

# Assumption: In the question no 8 it was mentioned like "Repeat the same Multi linear regression modelling by adding both Income and Highway features"  So i am assuming i need to build model using Tax and dl here

In [57]:
from sklearn.linear_model import LinearRegression
Model_1=LinearRegression()

Model_1.fit(X_train[['tax','dl']],y_train)
Model_1.score(X_train[['tax','dl']],y_train)

0.4657867429910155

In [58]:
regression_model = LinearRegression()
regression_model.fit(X_train, y_train)

pd.DataFrame([regression_model.coef_],columns=Feature.columns)

         tax    income   highway          dl
0 -39.411584 -0.062628 -0.003022  950.882744

# R-Square

# Question 7 - Evaluate the model 
Calculate the accuracy score for the above model.

In [59]:
regression_model.score(X_train, y_train)

0.6407622941321002

# Question 8: Repeat the same Multi linear regression modelling by adding both Income and Highway features
Find R2

I dont understand above question. Above no where to mention build a model with Tax and dl but here why its being said add income and highways

In [60]:
from sklearn.metrics import r2_score
r2_score(y_test,regression_model.predict(X_test))

0.6930212207091808

# Question 9: Print the coefficients of the multilinear regression model

In [61]:
for i in zip(Feature.columns,regression_model.coef_):
    print("coefficients of ",i)

coefficients of  ('tax', -39.411583621415424)
coefficients of  ('income', -0.06262814005687901)
coefficients of  ('highway', -0.0030219870395790096)
coefficients of  ('dl', 950.8827441430783)

# Question 10 
In one or two sentences give reasoning on R-Square on the basis of above findings
Answer

### *R squared value increase if we increase the number of independent variables to our analysis

# Ans: R-squared is a statistical measure of how close the data are to the fitted regression line.