In [309]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
import matplotlib.pyplot as plt
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense, Activation
from keras.layers import Input, Dense,Flatten
from keras.layers.normalization import BatchNormalization
from keras import optimizers
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [291]:
df=pd.read_csv('bank.csv')

In [292]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [293]:
#remove the RowNumber and Surname
bank_df=df.drop(columns=['RowNumber','Surname','CustomerId'])

In [294]:
bank_df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [295]:
bank_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [296]:
Feature=bank_df.drop(columns=['Exited'])

In [297]:
Feature.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [298]:
Feature.Geography.value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [299]:
# Label encoding for Geography and Gendeer
Feature['Gender']=Feature['Gender'].map({'Male':1,'Female':0})

In [300]:
Feature['Geography']=Feature['Geography'].map({'France':5,'Germany':6,'Spain':7})

In [301]:
Feature=pd.get_dummies(Feature,columns=['Geography'])

In [302]:
# dropping the first columns of the Country dummies variable a 0 on two countries means that the country has to be the one variable which wasn't included. This will save us from the problem of using too many dimensions

Feature=Feature.drop(columns=['Geography_5'])

In [303]:
Xtrain,Xtest,Ytrain,Ytest=train_test_split(Feature,Target,test_size=0.20,random_state=1)

In [304]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
Xtrain = sc.fit_transform(Xtrain)
Xtest = sc.transform(Xtest)

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/nbuser/anaconda3_501/lib/python3.6/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:5: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.

In [305]:
Xtrain.shape, Xtest.shape, Ytrain.shape, Ytest.shape

((8000, 11), (2000, 11), (8000,), (2000,))

In [306]:
model =Sequential()
model.add(Dense(activation = 'relu', input_dim = 11, units=6, kernel_initializer='uniform'))
model.add(Dense(activation = 'relu', units=6, kernel_initializer='uniform')) 
model.add(Dense(activation = 'sigmoid', units=1, kernel_initializer='uniform')) 
model.compile(optimizer='adam', loss = 'binary_crossentropy', metrics=['accuracy'])

In [307]:
model.fit(Xtrain, Ytrain, batch_size=10, epochs=100)

Epoch 1/100
8000/8000 [==============================] - 3s 429us/step - loss: 0.4875 - acc: 0.7965
Epoch 2/100
8000/8000 [==============================] - 2s 250us/step - loss: 0.4269 - acc: 0.7972
Epoch 3/100
8000/8000 [==============================] - 2s 225us/step - loss: 0.4213 - acc: 0.7990
Epoch 4/100
8000/8000 [==============================] - 2s 243us/step - loss: 0.4184 - acc: 0.8246
Epoch 5/100
8000/8000 [==============================] - 2s 266us/step - loss: 0.4158 - acc: 0.8282
Epoch 6/100
8000/8000 [==============================] - 2s 249us/step - loss: 0.4142 - acc: 0.8301
Epoch 7/100
8000/8000 [==============================] - 2s 233us/step - loss: 0.4125 - acc: 0.8316
Epoch 8/100
8000/8000 [==============================] - 2s 219us/step - loss: 0.4112 - acc: 0.8331
Epoch 9/100
8000/8000 [==============================] - 2s 238us/step - loss: 0.4102 - acc: 0.8331
Epoch 10/100
8000/8000 [==============================] - 2s 214us/step - loss: 0.4088 - acc: 0.8350
Epoch 11/100
8000/8000 [==============================] - 2s 233us/step - loss: 0.4085 - acc: 0.8349
Epoch 12/100
8000/8000 [==============================] - 2s 239us/step - loss: 0.4074 - acc: 0.8356
Epoch 13/100
8000/8000 [==============================] - 2s 220us/step - loss: 0.4065 - acc: 0.8349
Epoch 14/100
8000/8000 [==============================] - 2s 222us/step - loss: 0.4057 - acc: 0.8351
Epoch 15/100
8000/8000 [==============================] - 2s 225us/step - loss: 0.4055 - acc: 0.8352
Epoch 16/100
8000/8000 [==============================] - 2s 250us/step - loss: 0.4057 - acc: 0.8350
Epoch 17/100
8000/8000 [==============================] - 2s 218us/step - loss: 0.4046 - acc: 0.8351
Epoch 18/100
8000/8000 [==============================] - 2s 234us/step - loss: 0.4045 - acc: 0.8351
Epoch 19/100
8000/8000 [==============================] - 2s 220us/step - loss: 0.4039 - acc: 0.8365
Epoch 20/100
8000/8000 [==============================] - 2s 225us/step - loss: 0.4038 - acc: 0.8361
Epoch 21/100
8000/8000 [==============================] - 2s 245us/step - loss: 0.4033 - acc: 0.8366
Epoch 22/100
8000/8000 [==============================] - 2s 236us/step - loss: 0.4035 - acc: 0.8355
Epoch 23/100
8000/8000 [==============================] - 2s 251us/step - loss: 0.4034 - acc: 0.8352
Epoch 24/100
8000/8000 [==============================] - 2s 266us/step - loss: 0.4033 - acc: 0.8354
Epoch 25/100
8000/8000 [==============================] - 2s 241us/step - loss: 0.4026 - acc: 0.8362
Epoch 26/100
8000/8000 [==============================] - 2s 220us/step - loss: 0.4027 - acc: 0.8366
Epoch 27/100
8000/8000 [==============================] - 2s 253us/step - loss: 0.4025 - acc: 0.8355
Epoch 28/100
8000/8000 [==============================] - 2s 248us/step - loss: 0.4025 - acc: 0.8367
Epoch 29/100
8000/8000 [==============================] - 2s 220us/step - loss: 0.4021 - acc: 0.8355
Epoch 30/100
8000/8000 [==============================] - 2s 242us/step - loss: 0.4018 - acc: 0.8357
Epoch 31/100
8000/8000 [==============================] - 2s 220us/step - loss: 0.4020 - acc: 0.8345
Epoch 32/100
8000/8000 [==============================] - 2s 217us/step - loss: 0.4021 - acc: 0.8357
Epoch 33/100
8000/8000 [==============================] - 2s 240us/step - loss: 0.4016 - acc: 0.8357
Epoch 34/100
8000/8000 [==============================] - 2s 232us/step - loss: 0.4014 - acc: 0.8365
Epoch 35/100
8000/8000 [==============================] - 2s 215us/step - loss: 0.4016 - acc: 0.8352
Epoch 36/100
8000/8000 [==============================] - 2s 221us/step - loss: 0.4016 - acc: 0.8354
Epoch 37/100
8000/8000 [==============================] - 2s 228us/step - loss: 0.4014 - acc: 0.8364
Epoch 38/100
8000/8000 [==============================] - 2s 238us/step - loss: 0.4015 - acc: 0.8364
Epoch 39/100
8000/8000 [==============================] - 2s 243us/step - loss: 0.4010 - acc: 0.8371
Epoch 40/100
8000/8000 [==============================] - 2s 216us/step - loss: 0.4009 - acc: 0.8376
Epoch 41/100
8000/8000 [==============================] - 2s 239us/step - loss: 0.4008 - acc: 0.8355
Epoch 42/100
8000/8000 [==============================] - 2s 213us/step - loss: 0.4009 - acc: 0.8375
Epoch 43/100
8000/8000 [==============================] - 2s 219us/step - loss: 0.4006 - acc: 0.8359 0s - loss: 0.3
Epoch 44/100
8000/8000 [==============================] - 2s 219us/step - loss: 0.4008 - acc: 0.8365
Epoch 45/100
8000/8000 [==============================] - 2s 249us/step - loss: 0.4007 - acc: 0.8357
Epoch 46/100
8000/8000 [==============================] - 2s 215us/step - loss: 0.4010 - acc: 0.8362
Epoch 47/100
8000/8000 [==============================] - 2s 220us/step - loss: 0.4005 - acc: 0.8360
Epoch 48/100
8000/8000 [==============================] - 2s 244us/step - loss: 0.4006 - acc: 0.8365
Epoch 49/100
8000/8000 [==============================] - 2s 266us/step - loss: 0.4006 - acc: 0.8359
Epoch 50/100
8000/8000 [==============================] - 2s 220us/step - loss: 0.4003 - acc: 0.8362
Epoch 51/100
8000/8000 [==============================] - 2s 225us/step - loss: 0.4002 - acc: 0.8372
Epoch 52/100
8000/8000 [==============================] - 2s 212us/step - loss: 0.3999 - acc: 0.8346
Epoch 53/100
8000/8000 [==============================] - 2s 248us/step - loss: 0.3999 - acc: 0.8360
Epoch 54/100
8000/8000 [==============================] - 2s 227us/step - loss: 0.3992 - acc: 0.8375
Epoch 55/100
8000/8000 [==============================] - 2s 224us/step - loss: 0.3989 - acc: 0.8362
Epoch 56/100
8000/8000 [==============================] - 2s 244us/step - loss: 0.3990 - acc: 0.8387
Epoch 57/100
8000/8000 [==============================] - 2s 261us/step - loss: 0.3985 - acc: 0.8376
Epoch 58/100
8000/8000 [==============================] - 2s 214us/step - loss: 0.3982 - acc: 0.8369
Epoch 59/100
8000/8000 [==============================] - 2s 222us/step - loss: 0.3979 - acc: 0.8389
Epoch 60/100
8000/8000 [==============================] - 2s 232us/step - loss: 0.3972 - acc: 0.8370
Epoch 61/100
8000/8000 [==============================] - 2s 231us/step - loss: 0.3976 - acc: 0.8362
Epoch 62/100
8000/8000 [==============================] - 2s 220us/step - loss: 0.3973 - acc: 0.8382
Epoch 63/100
8000/8000 [==============================] - 2s 245us/step - loss: 0.3967 - acc: 0.8369
Epoch 64/100
8000/8000 [==============================] - 2s 223us/step - loss: 0.3968 - acc: 0.8391
Epoch 65/100
8000/8000 [==============================] - 2s 223us/step - loss: 0.3964 - acc: 0.8376
Epoch 66/100
8000/8000 [==============================] - 2s 225us/step - loss: 0.3966 - acc: 0.8396
Epoch 67/100
8000/8000 [==============================] - 2s 221us/step - loss: 0.3963 - acc: 0.8389
Epoch 68/100
8000/8000 [==============================] - 2s 223us/step - loss: 0.3958 - acc: 0.8375
Epoch 69/100
8000/8000 [==============================] - 2s 234us/step - loss: 0.3966 - acc: 0.8387
Epoch 70/100
8000/8000 [==============================] - 2s 221us/step - loss: 0.3954 - acc: 0.8382
Epoch 71/100
8000/8000 [==============================] - 2s 247us/step - loss: 0.3955 - acc: 0.8384
Epoch 72/100
8000/8000 [==============================] - 2s 251us/step - loss: 0.3956 - acc: 0.8390
Epoch 73/100
8000/8000 [==============================] - 2s 221us/step - loss: 0.3949 - acc: 0.8395
Epoch 74/100
8000/8000 [==============================] - 2s 231us/step - loss: 0.3947 - acc: 0.8385
Epoch 75/100
8000/8000 [==============================] - 2s 215us/step - loss: 0.3953 - acc: 0.8390
Epoch 76/100
8000/8000 [==============================] - 2s 221us/step - loss: 0.3948 - acc: 0.8390
Epoch 77/100
8000/8000 [==============================] - 2s 221us/step - loss: 0.3945 - acc: 0.8384
Epoch 78/100
8000/8000 [==============================] - 2s 230us/step - loss: 0.3938 - acc: 0.8370
Epoch 79/100
8000/8000 [==============================] - 2s 224us/step - loss: 0.3942 - acc: 0.8395
Epoch 80/100
8000/8000 [==============================] - 2s 221us/step - loss: 0.3943 - acc: 0.8400
Epoch 81/100
8000/8000 [==============================] - 2s 220us/step - loss: 0.3941 - acc: 0.8407
Epoch 82/100

8000/8000 [==============================] - 2s 227us/step - loss: 0.3940 - acc: 0.8392
Epoch 83/100
8000/8000 [==============================] - 2s 251us/step - loss: 0.3936 - acc: 0.8396
Epoch 84/100
8000/8000 [==============================] - 2s 240us/step - loss: 0.3933 - acc: 0.8377
Epoch 85/100
8000/8000 [==============================] - 2s 230us/step - loss: 0.3934 - acc: 0.8389
Epoch 86/100
8000/8000 [==============================] - 2s 269us/step - loss: 0.3928 - acc: 0.8402
Epoch 87/100
8000/8000 [==============================] - 2s 234us/step - loss: 0.3932 - acc: 0.8380
Epoch 88/100
8000/8000 [==============================] - 2s 227us/step - loss: 0.3924 - acc: 0.8382
Epoch 89/100
8000/8000 [==============================] - 2s 245us/step - loss: 0.3915 - acc: 0.8391
Epoch 90/100
8000/8000 [==============================] - 2s 244us/step - loss: 0.3910 - acc: 0.8380
Epoch 91/100
8000/8000 [==============================] - 2s 235us/step - loss: 0.3900 - acc: 0.8379
Epoch 92/100
8000/8000 [==============================] - 2s 229us/step - loss: 0.3889 - acc: 0.8419
Epoch 93/100
8000/8000 [==============================] - 2s 239us/step - loss: 0.3875 - acc: 0.8407
Epoch 94/100
8000/8000 [==============================] - 2s 214us/step - loss: 0.3843 - acc: 0.8397
Epoch 95/100
8000/8000 [==============================] - 2s 241us/step - loss: 0.3828 - acc: 0.8364
Epoch 96/100
8000/8000 [==============================] - 2s 241us/step - loss: 0.3809 - acc: 0.8384
Epoch 97/100
8000/8000 [==============================] - 2s 243us/step - loss: 0.3786 - acc: 0.8402
Epoch 98/100
8000/8000 [==============================] - 2s 244us/step - loss: 0.3776 - acc: 0.8377
Epoch 99/100
8000/8000 [==============================] - 2s 232us/step - loss: 0.3765 - acc: 0.8395
Epoch 100/100
8000/8000 [==============================] - 2s 242us/step - loss: 0.3760 - acc: 0.8407

In [312]:
scores=model.evaluate(Xtest,Ytest)

2000/2000 [==============================] - 1s 340us/step

In [315]:
print('accuracy score is ',scores[1])

accuracy score is  0.84

In [319]:
Ypred=model.predict_classes(Xtest,batch_size=10)

In [346]:
Ypred=Ypred.reshape(2000)

In [347]:
pd.crosstab(Ytest,Ypred,rownames=['True'], colnames=['Predicted'],margins=True)

Predicted     0    1   All
True
0          1520   65  1585
1           255  160   415
All        1775  225  2000